body{ 
    margin: auto;
    padding: 30px;
} 

.box{ 
    background-color: lightcoral; 
    width: 500px; 
    height: 500px; 
    animation: myanimation 3s infinite ease-in; 
} 

@keyframes myanimation{ 
    0%{width: 500px;
    }
    
    50%{background-color: aquamarine;
        height: 200px;
    }
    
    100%{width: 1000px;
    }
} 