body {
    background-color: #F2E0D2;
    font-family: serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.logo {
    width: 60%;
    height: auto;
    object-fit: cover;
}

img.main {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

img.logo_footer {
    width: 15%;
    height: auto;
    padding-left: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #384148;
    border-radius: 20px;
}

nav ul:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #d8644c;
    color: #F2E0D2;
}

nav li {
    display: inline-block;
    padding-left: 3rem;
}

a.nav:link { 
    text-decoration: none; 
    color: white;
}

a.nav:visited { 
    text-decoration: none; 
    color: white;
}

a.nav:hover { 
    text-decoration: none;
    color: #384148; 
}

a.nav:active { 
    text-decoration: none; 
    color: #F2E0D2;
}

section {
    display: flex;
}

article.promotion {
    background-image: url("img/promotion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

article {
    flex: 1;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #384148;
    color: white;
    border-radius: 20px;
}

article:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #d8644c;
    color: #F2E0D2;
}

a.main:link {
    color: #384148;
}

a.main:visited {
    color: purple;
}

a.main:hover {
    color: #F2E0D2;
}

a.main:active {
    color: #384148;
}

footer {
    display: flex;
}

div {
    flex: 1;
    color: #d8644c;
}

.copyright{
    text-align: right;
}

hr.solid {
    border-top: 1px solid black;
}